:root {
  --main: hsl(0, 0%, 10%);
  --pop: hsl(0, 0%, 25%);
  --primary: hsl(162, 82%, 40%);
  --secondary: hsl(162, 82%, 25%);
  --font: hsl(0, 0%, 95%);
  --light: hsl(0, 0%, 65%);
}

* {
  font-family: 'Inter', sans-serif;
}

*:focus {
  outline: none;
}
body {
  background-color: var(--main);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 15vh;
  color: var(--font);
}
h1 {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--light);
  padding-left: 12px;
}
.primary {
  background-color: rgba(18, 185, 135, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.secondary {
  background-color: rgba(63, 63, 63, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.hidden {
  display: none;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 12px;
  backdrop-filter: blur(10px) brightness(1.1);
}
#headsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#searchSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#addNewBtn img {
  width: 12px;
  height: 12px;
  rotate: 45deg;
}
#addNewBtn {
  height: calc(1rem + 18px);
  width: calc(1rem + 18px);
  right: calc(18px + 1rem);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: solid 1px rgba(255, 255, 255, .1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

input {
  color: var(--light);
}
input[type="text"] {
  border-radius: 6px;
  padding-block: 1px;
  padding-inline: 6px;
  background-color: var(--pop);
  border: none;
  color: var(--font);
}
#search-box {
  width: calc(100% - 44px);
  padding-block: 4px;
  border-radius: 8px;
  background-color: rgba(63, 63, 63, .975);
}

img {
  height: 64px;
}
#backToList img {
  display: block;
  width: 12px;
  height: 12px;
}
#one {
  display: grid;
  grid-template-columns: 100%;
}
.chat-box {
  display: flex;
  align-items: center;
  height: 3rem;
  padding-left: 24px;
  font-weight: bold;
}



.chat-con {
  background-color: rgba(46, 46, 46);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;                             /* only for development */
  padding-bottom: 10vh;
  overflow-y: scroll;
  display: grid;
  padding-top: 12vh;
  grid-template-columns: 100vw;
  z-index: 2;
}
.msg-rx {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-block: .5rem;
}
.msg-tx {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-block: .5rem;
}
.msg-content-rx, .msg-content-tx {
  padding-inline: 12px;
  padding-block: 5px;
  background-color: red;
  border-radius: 15px;
  max-width: 80vw;
}
.msg-content-rx {
  background-color: var(--pop);
  margin-left: 12px;
  box-shadow: 0 0 12px rgba(63, 63, 63, .1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.msg-content-tx {
  background-color: var(--primary);
  margin-right: 12px;
  box-shadow: 12px 12px 44px rgba(25, 110, 81, .5);
}

#chatName {
  position: fixed;
  top: 4vh;                             /* only for development */
  left: calc(50vw - 88px);
  right: calc(50vw - 88px);
  padding-block: 6px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px) saturate(120%);
  -webkit-backdrop-filter: blur(20px) saturate(120%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  z-index: 2;
  color: var(--light);
  font-style: italic;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 1fr;
}
#contactType {
  font-size: .5rem;
  font-style: normal;
}
#backToList {
  position: fixed;
  top: 4vh;                             /* only for development */
  left: calc(50vw - 12px);
  height: calc(1rem + 18px);
  width: calc(1rem + 18px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  translate: calc(-33vw - 24px);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: solid 1px rgba(255, 255, 255, .1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}








.text-input-con {
  display: flex;                             /* only for development */
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 24px;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 5;
}
#text_input {
  width: calc(100% - (1rem + 18px) - 44px);
  padding-block: 4px;
  border-radius: 10px;
  background-color: rgba(63, 63, 63, .975);
  box-shadow: 0 0 10vw rgba(0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 5;
}
#send-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(1rem + 18px);
  width: calc(1rem + 18px);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: solid 1px rgba(255, 255, 255, .1);
  margin-left: 6px;
}
#send-msg img {
  width: 24px;
  height: 24px;
  display: block;
}
.bottomBlur {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10vh;
  z-index: 3;
  background-image: linear-gradient(to top, var(--main), transparent);
}

#addMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: rgba(25, 25, 25, 0.5);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
}

#chatNameManage {
  position: fixed;
  top: 10vh;                             /* only for development */
  left: calc(36vw - 88px);
  right: calc(36vw - 88px);
  padding-block: 10px;
  font-size: 1.1rem;
  background-color: rgba(255, 255, 255, .1);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  z-index: 5;
  color: var(--light);
  font-style: italic;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 1fr;
  animation: chatNameManage ease .5s both;
  filter: brightness(3);
}
@keyframes chatNameManage {
  0% {transform: translateY(-24px); opacity: 0;}
  100% {transform: translateY(0); opacity: 1;}
}
#contactManage {
  font-size: 1.5rem;
}
#contactTypeManage {
  font-size: 1rem;
  font-style: normal;
  filter: brightness(.25);
}
#addMenu input {
  width: calc(100% - (1rem + 18px) - 44px);
  padding-block: 4px;
  padding-inline: 8px;
  border-radius: 10px;
  background-color: var(--pop);
  border: 1px solid rgba(255, 255, 255, 0.1);
  filter: brightness(1.1);
  width: 50vw;
}
#addMenu input::placeholder {
  text-align: center;
}
#groupNameSection, #userListSection {
  display: grid;
  grid-template-columns: 33vw 1fr;
  margin-block: 4px;
  width: 100vw;
}

#groupNameSection *, #userListSection * {
  margin-inline: 12px;
}
#cancelCreate {
  position: fixed;
  bottom: 24px;
  left: 10vw;
  right: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#addMenu button {
  border-radius: 15px;
  padding-block: 8px;
  padding-inline: 15px;
  color: var(--font);
  font-size: 1rem;
  letter-spacing: 1px;
  backdrop-filter: blur(20px) saturate(180%);
}

#addGroup {
  margin-top: 44px;
}
#importantNoteAddGroup {
  margin-top: 12px;
  width: 80vw;
  translate: 10vw;
  padding-block: 10px;
  font-size: .8rem;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  z-index: 5;
  color: var(--light);
  font-style: italic;
  letter-spacing: 1px;
  grid-template-columns: 1fr;
  animation: chatNameManage ease .5s both;
}






















.listInactive {
  animation: listInactive ease-in-out both 0.5s;
}
@keyframes listInactive {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20vw);
  }
}

.listActive {
  animation: listActive ease-in-out both 1s;
}
@keyframes listActive {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: translateX(0);
  }
}


.chatInactive {
  animation: chatInactive ease-in-out both 0.5s;
}

@keyframes chatInactive {
  from {
    transform: translateX(0);
    background-color: blue;
  }
  to {
    transform: translateX(200vw);
    background-color: red;
  }
}




.removeMsgCon {
animation: removeMsgCon ease-in-out .5s both;
}

@keyframes removeMsgCon {
  0% {transform: translateY(0); opacity: 1;}
  100% {transform: translateY(64px); opacity: 1;}
}








.listNowActive, .chatNowActive {
  display: grid;
}
.listNowInactive, .chatNowInactive, .removedMsgCon {
  opacity: .99;
}
/* onclick="document.getElementById('backToList').addEventListener('click', function () {
          const one = document.getElementById('one');
          const nav = document.getElementById('nav');
          const three = document.getElementById('three');
          const chatCon = document.getElementById('chat-con');

          one.classList.add('listgActive');
          nav.classList.add('listgActive');
          three.classList.add('chatInactive');
          chatCon.classList.add('chatInactive');

          setTimeout(() => {
            one.classList.remove('ligstActive');
            one.classList.add('listNgowActive');
            nav.classList.remove('ligstActive');
            nav.classList.add('listNgowActive');

            three.classList.remove('chatInactive');
            three.classList.add('chatNowInactive');
            chatCon.classList.remove('chatInactive');
            chatCon.classList.add('chatNowInactive');
          }, 5000);
        const textInputCon = document.querySelector('.text-input-con');
        textInputCon.classList.add('removeMsgCon');

        setTimeout(() => {
          textInputCon.classList.remove('removeMsgCon');
          textInputCon.classList.add('removedMsgCon');
        }, 5000);});"*/
